/* Global styles */
* {
    font-family: "Raleway";
    box-sizing: border-box;
  }
  
  body {
    background-color: black;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  a {
    text-decoration: none;
    color: #005ea5;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  
  
 
    
  
  
  
  
  
  
  
  
