/* Resources: alvarotrigo.com
    The code for the hamburger button was from the website above. 
    */
  /*Menu style button*/
  
  @import url(https://fonts.googleapis.com/css?family=creepster);
  h2 {
  vertical-align: center;
  text-align: center;
  }
  
  html, body {
  margin: 0;
  height: 100%;
  }
  
  
  
  .topNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #00BAF0;
  background: linear-gradient(to left, #178582, #4c210a); /* bfa181 */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #FFF;
  height: 50px;
  padding: 1em;
  }

  .gitIcon {
    /* border: 1px solid black; */
    left: 800px;
    position: relative;
  }

  .gitIcon img {
    height: 20px;
    width: 20px;
  }

  .signIn{
    border: 1px solid white;
    border-radius: 10px;
  }

  .signInIcon{
    /* border: 1px solid black; */
    height: 14px;
    width: 18px;
  }

  
  .logo {
    display: inline-block;
    margin: 10px;
  }
  
  .logo h1 {
    font-size: 28px;
    margin: 0;
    
  }